._3rbzbWgFYrp7IXE2adaqXd {
  background: linear-gradient(90deg, #1c3643 0, #273b46 25%, #1e5372);
}

._2X5ZgSXjZFHQ1_5OdfSpb {
  color: #fff;
  flex-shrink: 0;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: .5em 1em;
  width: 100%;
}

.dh9z21-eBARhHwuWG2omP {
  display: flex;
  padding: 1em;
}

._1ET3-fRCjvF-lOr4hwTj8B {
  color: white;
  text-decoration: none;
  transition: all .3s;
  border: 1px solid white;
  border-radius: .25em;
  padding: .25em .5em;
  margin: 0 .5em;
}
._1ET3-fRCjvF-lOr4hwTj8B:first-of-type {
  margin-left: 0;
}
._1ET3-fRCjvF-lOr4hwTj8B:last-of-type {
  margin-right: 0;
}
._1ET3-fRCjvF-lOr4hwTj8B:hover {
  background-color: white;
  color: black;
  transform: scale(1.01);
}._2V_HdZ_w-sglq0Z7YUfgCK {
  border-radius: .5em;
  box-shadow: 0 0 .5em black;
  padding: 1em;
  margin: 2em 0;
  transition: all .3s;
}
._2V_HdZ_w-sglq0Z7YUfgCK:hover {
  transform: scale(1.01);
}

._2aL5juYUCdx03EBBGNMhxi {
  margin: 0;
}
._2aL5juYUCdx03EBBGNMhxi a {
  color: black;
  text-decoration: none;
}

._2n60u0K2oVU9AZ8jQ-gUwE {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  ._2n60u0K2oVU9AZ8jQ-gUwE {
    flex-direction: column;
  }
  ._2n60u0K2oVU9AZ8jQ-gUwE * {
    margin: .25em 0;
  }
}
._1P1AZVdbf6Fgtms9GIiGV3 {
  max-width: 1024px;
  margin: 0 auto;
}


._2iKstKeFyJIyNb3BnltoNs {
  margin: 1em;
}

.HXXbhP4b61n5Ou4D6AkjX {
  margin: 1em;
}

._14MhprU3zPXBfwibHbSDKH {
  margin: 1em 0;
}

._14MhprU3zPXBfwibHbSDKH legend {
  font-size: 1.125em;
}

._14MhprU3zPXBfwibHbSDKH input {
  border: none;
  color: black;
  padding: .25em .5em;
}

._14MhprU3zPXBfwibHbSDKH address {
  padding-left: 1em;
}


.gAWP-YdmxBmJqu20jT1mm {
  opacity: 0;
}
.wGmjEIPrn81crvNMcPxCu {
  opacity: 1;
  transition: opacity 1s;
}
._3RbApKoAZEU22Hslt5c0o8 {
  opacity: 0;
}
._1JIQ1rTJDRT05cfz0TmhNV {
  opacity: 1;
  transition: opacity 1s;
}
._3cSkGyLXpwxBoZiHWtLV65 {
  opacity: 1;
}
._1tKPRI9de08CddRQrgMEsZ {
  opacity: 0;
  transition: opacity 1s;
}

._1wxaAsokgJVeIESaY3WwBz
{
	width: 90%;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid ;
    border-radius: 10px;
    box-shadow: 0 0 0.5em black;
    padding: 1em;
    background-color: rgb(39,40,34);
    color:white;
}

._1wxaAsokgJVeIESaY3WwBz:hover
{
	color:rgb(166,226,46);
}.h9G0j1foHajLEgcDeWokW {
  background: linear-gradient(90deg, #1c3643 0, #273b46 25%, #1e5372);
}

.b5uFrJtscwtwDF_P52Hic {
  color: #fff;
  flex-shrink: 0;
  font-size: 2em;
  font-weight: normal;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: .5em 1em;
  width: 100%;
}

._2oMUNoyujbZvitehlHkimk {
  display: flex;
  padding: 1em;
}

._2OnmALjTiBjuOjCPZTyoQN {
  color: white;
  text-decoration: none;
  transition: all .3s;
  border: 1px solid white;
  border-radius: .25em;
  padding: .25em .5em;
  margin: 0 .5em;
}
._2OnmALjTiBjuOjCPZTyoQN:first-of-type {
  margin-left: 0;
}
._2OnmALjTiBjuOjCPZTyoQN:last-of-type {
  margin-right: 0;
}
._2OnmALjTiBjuOjCPZTyoQN:hover {
  background-color: white;
  color: black;
  transform: scale(1.01);
}